/* general style fixes */
* {
  box-sizing: content-box;
}

body,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

/* tumblr overrides */
.npf_row {
  margin: unset !important; /* override tumblr row style */
}

.avatar_frame {
  margin-right: 5px;
}

.tmblr-full > video {
  height: unset !important;
}

/* custom styles */
body {
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}

.glass {
  background: #222222CC;
}

.uppercase {
  text-transform: uppercase;
}

/* posts */
main#posts {
  display: grid;
  row-gap: 15px;
  align-content: center;
  margin-left: 40px;
}

.post {
  width: 500px;
  padding: 15px 20px;
  display: flex;
  flex-flow: column;
}

.post > .caption {
  margin-top: 1em;
}

.post > footer > .metadata {
  margin-top: 10px;
  padding: 5px 0 0;
  border-top: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.post > footer > .tags,
.post > footer > .notes {
  margin-top: 20px;
}

.post > footer > .tags {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}

/* left sidebar */
side-bar {
  height: 100vh;
  width: 175px;
  text-align: center;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  justify-content: center;
  position: sticky;
  top: 0;
}

/* sidebar image */
side-bar > .image {
  height: 169px;
  padding: 2px;
  border-radius: 50%;
}

side-bar > .image > .inner-border {
  height: 157px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
}

side-bar > .image > .inner-border > a {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

/* sidebar content */
side-bar > .info {
  padding: 15px 0;
}

side-bar > .info > nav {
  display: flex;
  justify-content: center;
}

side-bar > .info > nav > * {
  padding: 0 5px;
  margin: 15px 2px 0;
}
